body{
    display: flex;
    justify-content: space-around;
    background-color:rgb(130, 130, 250);
}

.form{
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    width: 400px;
    background-color:yellow;
    border-radius: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    background-color: rgb(1, 85, 181);
    border-radius: 30px;
    padding-left: 10px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a:hover{
    font-size: 1.74rem;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.input{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: cursive;
}

.input::placeholder{
    color: lightgray;
}

.list{
    padding: 0;
    margin: 0;
}

.list li{
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    border-top: dotted;
    border-color: darkgray;
    position: relative;
}

.list li .fa-trash{
    color: red;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.list li .fa-check-square{
    color: green;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: darkgray;
    text-decoration: line-through;
}

.list li.checked .fa-check-square{
    color: darkgray;
}